div.ads
  div.content.ad Lorem ipsum dolor sit amet, consectetur adipisicing elit. In fugiat officiis repellendus labore illo maiores quia aut quibusdam cupiditate temporibus rerum, explicabo aspernatur, molestias enim tempore fugit error vero aliquam!
  div.content.ad Lorem ipsum dolor sit amet, consectetur adipisicing elit. In fugiat officiis repellendus labore illo maiores quia aut quibusdam cupiditate temporibus rerum, explicabo aspernatur, molestias enim tempore fugit error vero aliquam!
  div.content.ad__scroll.ad Lorem ipsum dolor sit amet, consectetur adipisicing elit. In fugiat officiis repellendus labore illo maiores quia aut quibusdam cupiditate temporibus rerum, explicabo aspernatur, molestias enim tempore fugit error vero aliquam!
  div.content.ad__fixed This webpage was designed and created for an assignment, as part of an interview process. <br>It is not affiliated to Facebook in any way.