div.post__composer
  div.media__options
    div.media-photo Photo/Video
    div.media-live Live Video
    div.media-album Photo/Video Album
  hr(width="100%")
  div.post__textarea
    textarea(placeholder=`What's on your mind?`)
  hr(width="100%")
  div.post__options
    //- div.privacy__options Only Me
    div.post__button Post!
