div.shortcuts
  div.content
    a(href="#")
      div.shortcut__newsfeed News Feed
    a(href="#")
      div.shortcut__messenger Messenger
    a(href="#")
      div.shortcut__apps Apps
    a(href="#")
      div.shortcut__events Events
    a(href="#")
      div.shortcut__pages Pages
    a(href="#")
      div.shortcut__groups Groups
    a(href="#")
      div.shortcut__lists Friend Lists
    a(href="#")
      div.shortcut__throwback On This Day
    a(href="#")
      div.shortcut__pokes Pokes
    a(href="#")
      div.shortcut__help Help
